/*-----------------------------------------------------------------------------------*/
/* Basic */
/*-----------------------------------------------------------------------------------*/
html {
  overflow-y: scroll;
}
body {
    background: transparent url("../images/bg-3.jpg") repeat-y;
   background-size: 100% 90%;
  line-height: 1.7em;
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 300;
}

.primary-container-background .primary-container {
  width: 1080px;
}
.container {
  max-width: 1080px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
}
.container.no-padding {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

/*-----------------------------------------------------------------------------------*/
/* Utility Classes */
/*-----------------------------------------------------------------------------------*/

.margin-vert-60 {
  margin-top: 120px;
  margin-bottom: 60px;
}
.margin-bottom-20 {
     margin-bottom: 20px;
 }
.margin-bottom-30 {
    margin-bottom: 30px;
}
.row-no-margin {
  margin-left: -40px;
  margin-right: -40px;
}
/*-----------------------------------------------------------------------------------*/
/* Typo */
/*-----------------------------------------------------------------------------------*/
h1 {
  font-size: 2em;
}
h2 {
  font-weight: 300;
  line-height: 1em;
  margin: 0 0 10px;
  color: #555555;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 32px;
}
h3 {
  font-size: 20px;
  font-weight: 300;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  color: #555555;
}
h3.title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 5px;
  margin-bottom: 15px;
}
h4 {
  font-size: 18px;
  font-weight: 300;
  color: #9e9e9e;
  margin-bottom: 10px;
  line-height: 1.6;
}
h5 {
  font-size: 1.1em;
}
h6 {
  font-size: 1em;
}
a {
  text-decoration: none;
  color: #72968f;
  -webkit-transition: color 0.15s ease-in;
  -moz-transition: color 0.15s ease-in;
  -o-transition: color 0.15s ease-in;
  transition: color 0.15s ease-in;
}
a:hover {
  text-decoration: none;
}
a:focus,
li:focus {
  outline: 0;
}
p {
  margin-bottom: 16px;
}

.label {
  font-weight: 300;
  font-size: 90%;
  border-radius: 5px;
}
/* Login */
.login-page {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  box-shadow: 0 0 3px #EEEEEE;
  color: #555555;
  padding: 30px;
}
.login-page label {
  font-weight: normal;
}
/* Sign Up */
.signup-page {
  background: none repeat scroll 0 0 #FEFEFE;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  box-shadow: 0 0 3px #EEEEEE;
  color: #555555;
  padding: 30px;
}
.signup-page label {
  font-weight: normal;
}
/* 404 */
.error-404-page h2 {
  font-size: 160px;
  font-weight: bold;
  color: #eee;
}
.error-404-page h3 {
  color: #fff;
  font-size: 30px;
  padding: 0 0 20px;
}
.error-404-page .search-404 {
  background: none repeat scroll 0 0 #dedede;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  box-shadow: 0 0 3px #EEEEEE;
  color: #555555;
  padding: 30px;
  width: 360px;
  margin: 0 auto 30px;
}
.error-404-page .search-404 input {
  height: 33px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  width: 210px;
  padding: 5px 10px;
}
.error-404-page {
    margin-top: 120px;
}

footer {
    background: #DEDEDE;
}
