@charset "utf-8";
/* CSS Document */

.jumbotron {
	
	-webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.5);
	-moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.5);
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.5);
	position: absolute;
	top: 20%;

}